.page-links {
    text-align: center;
}

html {
    background: url("Images/Background-photo.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    width: 800px;
    padding: 25px 75px 50px;
    margin: auto;
}

div {
    background-color: rgb(255, 255, 255, 0.4);
    border: 2px solid black;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-family: cursive;

}

a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
      
a:hover {
    text-decoration: underline;
    color: rgb(16, 134, 173);
}

h2 {
    text-align: center;
    font-style: oblique;
    margin-top: 50px;
}

.home {
    margin-right: 20px;
}

.quiz {
    padding-left: 20px;
}

.computer-components {
    margin-top: 50px;
}

.quiz-body {
    padding: 50px 50px;
}